<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PLOTPLUGIN_PROFILE/"
            target="platform:/plugin/de.iils.dc43.plotplugin/profile/">
      </mapping>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="de.iils.dc43.plotplugin">
      </category>
      <view
            name="PlotPluginView"
            icon="icons/sample.gif"
            category="de.iils.dc43.plotplugin"
            class="de.iils.dc43.plotplugin.views.PlotPluginView"
            id="de.iils.dc43.plotplugin.views.PlotPluginView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="de.iils.dc43.plotplugin.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.iils.dc43.plotplugin.handler.PlotPluginHandler"
            commandId="de.iils.dc43.plotplugin.commands.evaluate">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.uml">
                        </test>
                     </adapt>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.iils.dc43.plotplugin.commands.evaluate"
            name="Evaluate with PlotPlugin">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:de.iils.dc43.application.menus.umlInterfacesMenu?after=evaluate">
         <command
               commandId="de.iils.dc43.plotplugin.commands.evaluate"
               icon="icons/sample.gif"
               id="de.iils.dc43.plotplugin.menus.evaluate"
               style="push"
               tooltip="Evaluate UML with the amazing super Plot-Plugin">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.iils.dc43.application.toolbar.evaluate">
         <command
               commandId="de.iils.dc43.plotplugin.commands.evaluate"
               icon="icons/sample.gif"
               id="de.iils.dc43.plotplugin.toolbars.evaluate"
               label="Plot-Plugin"
               style="push"
               tooltip="Evaluate UML with the amazing super Plot-Plugin">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.iils.dc43.application.menus.evaluateMenu">
         <command
               commandId="de.iils.dc43.plotplugin.commands.evaluate"
               icon="icons/sample.gif"
               id="de.iils.dc43.plotplugin.popups.evaluate"
               style="push"
               tooltip="Evaluate UML with Excel">
         </command>
      </menuContribution>
   </extension>

</plugin>
